*{
    
    box-sizing: border-box;
}

html{
    height: 100%;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#start{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: black;
    color: white;
    text-align: center;
}


#container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    
    flex:1;
    flex-direction: column;
    gap: 2vh;
    
}

#top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 90%;  
}


#logo{
    flex:1;
   
}
#header{
    display: flex;
    justify-content: center;
    color: #ff6663;
    flex:1;
}
#rules{
    display: flex;
    justify-content: center;
    flex:1;
}

#playercontainer{
    display:flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 170px;
    max-width: 170px;
    gap: 10px;
}

#enemycontainer{
    display:flex;
    flex: 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    min-width: 170px;
    max-width: 170px;
    gap: 10px;
}

#eventtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#resolve{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#eventcontainer{
    display: flex;
    flex: 1.5 1.5 auto;
    justify-content: center;
    align-items: center;
    max-height: 90%;
}

.rps{
    max-width: 30px;
    max-height: 30px;
}

#middle{
    display:flex;
    flex: 1 auto;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    min-height: 60%;
    gap: 10px;
}

#painting{
    min-width: 100%;
    max-height: 600px;
    z-index: 3;
}

#player, #enemy{
    width: 100%;
    height: auto;

}
#enemy{
    transform: scaleX(-1);
}

.rpsbtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button:hover{
    cursor: pointer;
    background-color: #ff6663;
}

@media screen and (max-width: 1000px) {
    #top{
        display: none;
    }
    #painting{
       min-height: 100vh;
       min-width: 100vw;
       z-index: -1;
    }
    #eventcontainer{
        flex: 1;
        max-width: 50vw;
        max-height: 50vh;
        overflow: visible;
    }
    #enemycontainer, #playercontainer{
        min-width: 100px;
    }
}

@media screen and (min-width: 1400px) {
    #container{
        min-width: 1400px;
        max-width: 1400px;
    }
}



